# GOOGLE_SERVICE_ACCOUNT_EMAIL: The email of the service account.
# GOOGLE_PRIVATE_KEY: The private key of the service account (starts with -----BEGIN PRIVATE KEY-----).
# GOOGLE_SHEET_ID: The ID of the spreadsheet (from the URL).
# GOOGLE_DRIVE_FOLDER_ID: The ID of the drive folder (from the URL).
# JWT_SECRET: A strong secret for signing auth tokens.

GOOGLE_SHEET_ID="1JFPBsPqh-FHylbYgDIcLH6M4KyPHnF3DpklHPHLp6X4"
GOOGLE_DRIVE_FOLDER_ID="1H9FrDID_jnhk06oFyN3elPTpULAN0gmc"
GOOGLE_SCRIPT_URL="https://script.google.com/macros/s/AKfycbzq0nfpvlxfSQ9TqM8Q_NtI7lFY1-yOW1HDcChY2k1nu1Bph0pJLnnq65j5r_aLuDfw/exec"
